/* Generalised rules */

html {
    background-color: beige;
    font-family: Arial;
}

body {
    font-size: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
    margin: 0;
}

h1, h2, h3 {
    margin:0
}

/* All parts of header */

header {
    background-color: rgb(255, 169, 169);
    color: black;
    margin-bottom: 1em;
}

hgroup {
    padding: 0.5em;
}

nav {
    background-color: lightcyan;
    font-size: 1.4em;
    padding: 0.25em;
}

nav a {
    margin: 0.25em;
}

hgroup h3 {
    font-size: 1em;
}

/* Anything inside articles and sections */

section h2 {
    border-bottom: 0.1em solid;
}

figure {
    margin: 0;
}

figcaption {
    font-style: italic;
    color: gray;
}

img {
    border: gray solid;
}

article {
    background-color: white;
    padding: 0.5em;
}

p {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Generalised link rules */

a:link {
    font-weight: bold;
    color: gold;
}

a:hover {
    background-color: lightblue;
    color: black;
}

/* Anything inside footer */

footer {
    background-color: rgb(255, 169, 169);
    color: black;
    margin-top: 1em;
}