body, a, p, ul, li, div, aside, figure, hr, h4 {
    width: auto;
    display: block;
    float: none;
    position: unset;
    background-color: 0;
    list-style-type: disc;
    font-size: medium;
    padding: auto;
    font-weight: normal;
    line-height: normal;
    




}

body, div, h4, p, pre, a, ul, li, aside, figure, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}