body {
    margin: 0;
    background-color: #C5D5F2;
}

nav {
    overflow: hidden;
    background-color: #6B6D76;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.main {
    margin-top: 2.875em;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal a {
    float: left;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    font-size: 1em;
}

ul.horizontal a:hover {
    background-color: #ddd;
    color: black;
}

ul.horizontal a.active {
    background-color: #769CA3;
    color: #011638;
}

section, header {
    padding: 1em;
}

section {
    width: 50em;
}

article {
    float: left;
}

figure {
    float: right;
    margin-right: 30em;
}

figure img {
    border: thin solid;
    border-radius: 1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: #011638;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    background-color: #CCE6F4;
    color: black
}