form {
    padding-left: 25%;
    padding-right: 25%;
}

fieldset {
    background-color: lightgreen;
    margin: 0;
}

.submit {
    background-color: white;
}    

.button {
    text-align: center
}

.sub_clear {
    background: green;
    color: white;
    border-radius: 0.25em;
    text-align: center;
}

legend {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0;
}

