body, p, table, td, th, img, caption, form, fieldset, legend {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: 0;
  font-size: 1em;
  background-color: 0;
  font-weight: normal;
  color: 0;
  border-radius: 0;
  width: auto;
}